//! **************************************************************************
// Written by: Map P.20131013 on Tue Jul 04 14:46:10 2023
//! **************************************************************************

SCHEMATIC START;
COMP "Op<0>" LOCATE = SITE "U10" LEVEL 1;
COMP "Op<1>" LOCATE = SITE "U8" LEVEL 1;
COMP "Op<2>" LOCATE = SITE "T9" LEVEL 1;
COMP "Ov" LOCATE = SITE "R20" LEVEL 1;
COMP "Zop<0>" LOCATE = SITE "V19" LEVEL 1;
COMP "Zop<1>" LOCATE = SITE "V20" LEVEL 1;
COMP "Zop<2>" LOCATE = SITE "Y22" LEVEL 1;
COMP "Zop<3>" LOCATE = SITE "W21" LEVEL 1;
SCHEMATIC END;

