NET "X[3]" LOC = T9;
NET "Z[3]" LOC = W21;
NET "Y[0]" LOC = U15;
NET "Y[1]" LOC = T16;
NET "Y[2]" LOC = T15;
NET "Y[3]" LOC = T14;
NET "X[2]" LOC = U8;
NET "X[1]" LOC = U10;
NET "X[0]" LOC = V8;
NET "C_out" LOC = R20;
NET "Z[2]" LOC = Y22;
NET "Z[1]" LOC = V20;
NET "Z[0]" LOC = V19;
NET "C_in" LOC = R13;
NET "X[3]" IOSTANDARD = LVCMOS25;
NET "X[2]" IOSTANDARD = LVCMOS25;
NET "X[1]" IOSTANDARD = LVCMOS25;
NET "X[0]" IOSTANDARD = LVCMOS25;
NET "Y[3]" IOSTANDARD = LVCMOS25;
NET "Y[2]" IOSTANDARD = LVCMOS25;
NET "Y[1]" IOSTANDARD = LVCMOS25;
NET "Y[0]" IOSTANDARD = LVCMOS25;
NET "Z[3]" IOSTANDARD = LVCMOS25;
NET "Z[3]" DRIVE = 12;
NET "Z[3]" SLEW = SLOW;
NET "Z[2]" IOSTANDARD = LVCMOS25;
NET "Z[2]" DRIVE = 12;
NET "Z[2]" SLEW = SLOW;
NET "Z[1]" IOSTANDARD = LVCMOS25;
NET "Z[1]" DRIVE = 12;
NET "Z[1]" SLEW = SLOW;
NET "Z[0]" IOSTANDARD = LVCMOS25;
NET "Z[0]" DRIVE = 12;
NET "Z[0]" SLEW = SLOW;
NET "C_in" IOSTANDARD = LVCMOS25;
NET "C_out" IOSTANDARD = LVCMOS25;
NET "C_out" DRIVE = 12;
NET "C_out" SLEW = SLOW;


# PlanAhead Generated physical constraints 

NET "N" LOC = R13;
