NET "Zop[3]" LOC = W21;
NET "Zop[2]" LOC = Y22;
NET "Zop[1]" LOC = V20;
NET "Zop[0]" LOC = V19;

NET "Flg<0>" LOC = R20;
NET "Flg<1>" LOC = T19;
NET "Flg<2>" LOC = U20;
NET "Flg<3>" LOC = U19;


NET "Op[2]" LOC = T9;
NET "Op[1]" LOC = U8;
NET "Op[0]" LOC = U10;

NET "CLOCK_50" LOC = "E12";

# PlanAhead Generated physical constraints 

